.brand-text {
	font-family: 'Acme', sans-serif;
	font-size: 30px;
}

.head-text {
	font-family: 'Indie Flower', cursive;
}

.nav-text {
	font-family: 'Acme', sans-serif;
}

.boutme {
	font-family: 'Indie Flower', cursive;
	font-family: 'Source Sans Pro', sans-serif;
}

.sh-text {
	font-family: 'Indie Flower', cursive;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 20px;
}